parameters:
	ignoreErrors:
		-
			message: '#^Access to an undefined property Neontsun\\LazyObject\\Tests\\Fixture\\LazyObjectWithOneLazyProperty\:\:\$foo\.$#'
			identifier: property.notFound
			count: 1
			path: tests/LazyGhostBuilderTest.php
